{% extends 'USERPAGE.html' %}
{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>
<canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<script>
    debugger;
var xValues = {{l1}};
var yValues = {{l}};

new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "white",
      borderColor: "white",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    // scales: {
    //   yAxes: [{ticks: {min: 6, max:16}}],
    // }
  }
});
</script>
    {% endblock %}